<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <form action="./api/voice/gen" method="get">
      <button type="submit">サンプル</button>
    </form>
  </div>
  <div>
    <form action="./api/voice/gen" method="post">
      <textarea name="prompt"></textarea>
      <button type="submit">生成</button>
    </form>
    <div>
      <% voices.forEach(function(file){ %>
        <audio controls="/generate/audio/voice/<%=file %>" >
      <% }); %>
    </div>
  </div>
</body>
</html>